.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 320px;
  height: 320px;
  gap: 2px;
  margin: auto;
}

.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  cursor: pointer;
  transition: transform 0.2s;
}
